################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.config
/bin
/obj
*.user
/Properties/PublishProfiles
